/* App.css or Map.css */
.map-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.map-svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.line {
  stroke: white; /* Set the color of the line */
  stroke-width: 2px; /* Set the width of the line */
  fill: none; /* Ensure the line has no fill */
}

