/* Map.css */
.map-container {
  width: 1200px;   /* Fixed width */
  height: 1000px;  /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #f5f5f5;*/
  position: relative;
  overflow: hidden; /* Prevent any overflow */
}


.map-svg {
  width: 1200px;   /* fixed width matching your SVG natural dimensions */
  height: 1000px;  /* fixed height matching your SVG natural dimensions */
  position: relative;
}


.line {
  stroke: black; /* Set the color of the line */
  stroke-width: 2px; /* Set the width of the line */
  fill: none; /* Ensure the line has no fill */
}

.doubleline {
  stroke: black;
  stroke-width: 4px;
  fill: none;
}